<div class="container">
  <div class="col-lg-16">
    <div class="col-lg-12">
      <h3><i class="fa fa-cogs"></i> PartsList</h3>
    </div>
  </div>
  <div class="col-lg-16">
    <div>
      <button type="button" (click)="showAllParts()" class="btn btn-outline-success" style="margin-left:12px;">
        <i class="fa fa-archive"></i>
        Все
      </button>
      <button type="button" (click)="showRequiredParts()" class="btn btn-outline-danger" style="margin-left:12px;">
        <i class="fa fa-asterisk"></i>
        Обязательные
      </button>
      <button type="button" (click)="showOptionalParts()" class="btn btn-outline-info" style="margin-left:12px;">
        <i class="fa fa-plus"></i>
        Опциональные
      </button>
    </div>
  </div>
  <div class="row" style="margin-top:12px;">
    <div class="col-sm-5">
      <input type="text"
             [(ngModel)]="searchText"
             class="form-control"
             style="width: 100%;"
             placeholder="Поиск комплектующих...">
    </div>
    <div class="col-md-4">
      <button type="button"
              (click)="createPart()"
              class="btn btn-warning pull-right"
              style="margin-left:12px;">
        <i class="fa fa-plus"></i>
        Создать
      </button>
    </div>
  </div>
  <div>
    <!-- Панель комплектующих -->
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{showingModeTitle}}</h3>
          <p *ngIf="this.parts.length === 0">Нет комплектующих!</p>
        </div>
      </div>
      <div>
        <!-- Список комплектующих -->
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th class="th-sm">id</th>
            <th class="th-lg">Наименование</th>
            <th class="th-sm">Необходимость</th>
            <th class="th-sm">Количество</th>
            <th class="th-md"></th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let p of parts | partRequirementFilter:requirementFilter | partTextFilterPipe:searchText | paginate: {itemsPerPage: 10, currentPage: page}">
            <ng-template [ngTemplateOutlet]="loadTemplate(p)"
                         [ngTemplateOutletContext]="{$implicit: p}">
            </ng-template>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Количество сборок -->
    <div class="row" style="margin-top:12px;">
      <div class="col-md-8">
        <h2> Доступное число сборок: {{numberOfAssemblies}} </h2>
      </div>
    </div>
  </div>
</div>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-part>
  <td>{{part.id}}</td>
  <td>{{part.name}}</td>
  <td>{{part.need}}</td>
  <td>{{part.count}}</td>
  <td>
    <button type="button" value="Изменить" (click)="editPart(part)" class="btn btn-outline-info">
      <i class="fa fa-cog"></i>
    </button>
    <button type="button" value="Удалить" (click)="deletePart(part)" class="btn btn-outline-warning"
            style="margin-left:12px;">
      <i class="fa fa-trash-o"></i>
    </button>
  </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="part.id" readonly disabled class="form-control"/>
  </td>
  <td>
    <input type="text" [(ngModel)]="part.name" class="form-control"/>
  </td>
  <td>
    <input type="text" [(ngModel)]="part.need" class="form-control"/>
  </td>
  <td>
    <input type="text" [(ngModel)]="part.count" class="form-control"/>
  </td>
  <td>
    <button type="button" value="Сохранить" (click)="savePart(part)" class="btn btn-outline-info">
      <i class="fa fa-save"></i>
    </button>&nbsp;<button type="button" value="Отмена" (click)="cancel()" class="btn btn-outline-warning"
                           style="margin-left:12px;">
    <i class="fa fa-ban"></i>
  </button>
  </td>
</ng-template>
