<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="#">
    <i class="fa fa-cogs"></i>
    <span>Parts-list</span>
  </a>
  <a class="navbar-expand" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/list/all">Все</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list/required">Необходимые</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list/optional">Опциональные</a>
      </li>
    </ul>
  </a>
</nav>
